﻿@model Book
@{
    ViewData["Title"] = "Details";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="container">@Model.Title</h1>
        <h5>$@Model.Price</h5>        
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img src="~/Images/@Model.image" class="img-fluid" alt="Responsive Image" />
        </div>
        <div class="col-lg-8">
            <p>@Model.Description</p>
            <a href="/home/order/@Model.Id" class="btn btn-lg btn-primary">Buy</a>
        </div>
    </div>
</div>
