﻿@model HomeIndexViewModel
@{
    ViewData["Title"] = "Index";
}

@Html.Partial("_Carousel", Model.Carousels)

<h2 class="text text-center">Books List</h2>
<div class="container marketing">
    <div class="row">
        @foreach (var item in Model.Books) {
            <div class="col-lg-4">
                <img src="~/Images/@item.image" alt="@item.Title" class="img img-rounded" width="140" />
                <h5>@item.Title</h5>
                <p><a href="/home/details/@item.Id" class="btn btn-secondary" role="button">View Details</a></p>
            </div>
        }
    </div>

</div>