﻿@model OrderViewModel

@{
    ViewData["Title"] = "Order";
}

<h2 class="text-center">Order</h2>

<hr />
<div class="container">
    <div class="row">
        @if (Model?.BookToOrder.Id>=0) {

        <div class="col-md-10">
            <h5 class="text-center">You have selected the following book.</h5>
            <div class="row">
                <div class="col-md-4">
                    <h5>@Model.BookToOrder.Title</h5>
                    <img src="~/Images/@Model.BookToOrder.image" alt="@Model.BookToOrder.Title" />
                </div>
                <div class="col-md-4">
                    <h4>Price: $@Model.BookToOrder.Price</h4>
                </div>
            </div>
        </div>


        <div class="col-md-8">
            <form asp-action="Order">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.OrderDetails.ClientName" class="control-label"></label>
                    <input asp-for="@Model.OrderDetails.ClientName" class="form-control" />
                    <span asp-validation-for="@Model.OrderDetails.ClientName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.OrderDetails.Address" class="control-label"></label>
                    <input asp-for="@Model.OrderDetails.Address" class="form-control" />
                    <span asp-validation-for="@Model.OrderDetails.Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.OrderDetails.Phone" class="control-label"></label>
                    <input asp-for="@Model.OrderDetails.Phone" class="form-control" />
                    <span asp-validation-for="@Model.OrderDetails.Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.OrderDetails.Email" class="control-label"></label>
                    <input asp-for="@Model.OrderDetails.Email" class="form-control" />
                    <span asp-validation-for="@Model.OrderDetails.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
        } else {
            <div class="col-md-8">
                <p> You haven't selected any book. <br />
                    <a href="/">Back</a>
                </p>
            </div>
        }
    </div>
</div>